name: Build and Deploy to Kubernetes

on:
push:
branches: [ "main" ]

env:
IMAGE_NAME: my-nginx

jobs:
build:
runs-on: ubuntu-latest

steps:
- name: Checkout
uses: actions/checkout@v4

- name: Login to Docker Hub
uses: docker/login-action@v3
with:
username: ${{ secrets.DOCKER_USERNAME }}
password: ${{ secrets.DOCKER_PASSWORD }}

- name: Build image
run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-nginx:${{ github.sha }} .

- name: Push image
run: docker push ${{ secrets.DOCKER_USERNAME }}/my-nginx:${{ github.sha }}

- name: Update deployment image
run: |
sed -i "s|IMAGE_PLACEHOLDER|${{ secrets.DOCKER_USERNAME }}/my-nginx:${{ github.sha }}|g" deployment.yaml

# Цей крок піднімає K8s кластер всередині GitHub Actions
- name: Start minikube
uses: medyagh/setup-minikube@master

- name: Deploy to Kubernetes
run: |
kubectl apply -f deployment.yaml
kubectl get pods # Щоб ви побачили результат у логах
